<%- include('./partials/head.ejs') %>
<body id="home" style="background: linear-gradient(to right, var(--color-background-one), var(--color-background-four));">
<%- include('./partials/header.ejs') %>


<div class="container home">
    <div class="row">
        <div class="col-md-6 d-none d-lg-block bio m-auto">
            <p id="title-name" class="my-md-4">Bruce Lipsey</p>
            <ul class="ml-5">
                <li>Born in Providence, RI</li>
                <li>Love mystery, spy, and historical novels</li>
                <li>Read political books, too</li>
                <li>Die hard Celtics fan</li>
                <li>Creator/host of Diamond Know It All podcast</li>
                <li>The ocean is my happy place</li>
                <li>Like to cook and bake</li>
                <li>Really like to travel</li>
            </ul>
        </div>
        <div class="col-md-6 d-none d-lg-block photo m-auto">
            <img class="img-fluid" id="memoji" src="/images/Bruce_memoji.png" alt="">
        </div>

        <div class="d-block bio d-lg-none">
            <div class="m-auto">
                <p id="title-name">Bruce Lipsey</p>
            </div>
            <div class="photo m-auto">
                <img class="img-fluid" id="memoji" src="/images/Bruce_memoji.png" alt="">
            </div>
            <div>
                <ul class="bio-respond">
                    <li>Born in Providence, RI</li>
                    <li>Love mystery, spy, and historical novels</li>
                    <li>Read political books, too</li>
                    <li>Die hard Celtics fan</li>
                    <li>Creator/host of Diamond Know It All podcast</li>
                    <li>The ocean is my happy place</li>
                    <li>Like to cook and bake</li>
                    <li>Really like to travel</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<footer class="footer">
    <div class="row pt-sm-3 text-center">
        <div class="col-sm-5 mb-0 text-center">
            <p class="mb-0">© Bruce Lipsey, 2020, All Rights Reserved</p>
        </div>
        <div class="col-sm-2  icons text-center">
            <a class="email" href="mailto:bruce@lipseylipsey.com?
                      subject=Contact">
                      <i class="fas fa-envelope-square"></i></a>
            <a class="facebook" href="https://www.facebook.com/search/top?q=bruce%20lifschitz%20lipsey"><i class="fab fa-facebook px-3"></i></a>
        </div>
        <div class="col-sm-5 text-center">
            <p class="lovely">Website designed and produced by <a href="http://lovelywebdesigns.com/">LovelywebDesigns</a></p>
        </div>
    </div>

</footer>


    <%- include('./partials/footer.ejs') %>
