:root {
  --color-background-one: #bc4504;
  --color-background-two: #e15205;
  --color-background-three: #bdbfc1;
  --color-background-four: #a3a5a8;
  /* home-name/nav/header/buttons */
  --color-one: #401c04;
  --color-two: #6e3007;
  /* form-text/markdown-text/messages/buttons */
  --color-three: #123763;
  /* labels/hovers */
  --color-four: #02060b;
  /* input-background/navbar/hover */
  --color-five: #eae7e1;
  /* card-background/hover/text-shadow */
  --color-six: #f7f6f4;
            
  --font-size-one: 3em;
  --font-size-two: 2.0em;
  --font-size-three: 2.4em;
  --font-size-four: 1.4em;
  --font-size-five: 2.0em;
  --font-size-six: 1.8em;
  --font-size-seven: 1.6em;
  --font-size-eight: 1.2em;
  --font-size-nine: 1em;
  --font-size-ten: .8em;

}



  
